.card {
  padding: 0;
}
.info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 24px;
  &__label {
    font-size: 10px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.8px;
    text-transform: uppercase;
    margin: 0;
  }
  &__header {
    display: flex;
    align-items: center;
    gap: 12px;
  }
  &__avatar {
    width: 32px;
    height: 32px;
  }
  &__name {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    color: $neutrals-700-color;
  }
  &__age {
    color: $neutrals-600-color;
    font-weight: 600;
  }
  &__separator {
    height: 1px;
    width: 100%;
    background-color: $neutrals-400-color;
  }
  &__group {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
    letter-spacing: 0.1px;
  }
  &__subtitle {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0.2px;
    margin: 0 0 2px;
  }
  &__planName {
    margin: 0;
    font-weight: 700;
    color: $neutrals-700-color;
  }
  &__costLine {
    margin: 0;
  }
  &__pastPrice {
    color: $neutrals-600-color;
    text-decoration: line-through;
    margin-right: 0.25rem;
  }
}
