.plansCarousel {
  padding: 20px 0 80px;
}
.track {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 85%;
  gap: 16px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding: 0 0 24px;
  height: 100%;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  .slide {
    scroll-snap-align: start;
    height: 100%;
  }
  @media (min-width: $bp-md) {
    grid-auto-columns: 48%;
    gap: 20px;
  }
  @media (min-width: $bp-lg) {
    overflow: visible;
    grid-auto-flow: initial;
    grid-auto-columns: initial;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 24px;
    padding-bottom: 0;
  }
}
.card {
  display: flex;
  min-width: 288px;
  height: 100%;
  max-height: 687px;
  padding: 0px;
}
.plan {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 40px 32px;
  &__header {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__title {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }
  &__titleText {
    font-size: 24px;
    font-weight: 900;
    line-height: 32px;
    letter-spacing: -0.2px;
    margin: 0;
  }
  &__cost {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  &__costLabel {
    color: $neutrals-600-color;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 0.6px;
  }
  &__costPast {
    color: $neutrals-600-color;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.2px;
    text-decoration: line-through;
  }
  &__costValue {
    color: $neutrals-700-color;
    font-size: 20px;
    font-weight: 900;
    line-height: 28px;
    letter-spacing: -0.2px;
  }
  &__separator {
    height: 1px;
    width: 100%;
    background-color: $neutrals-400-color;
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin: 0;
    padding: 0;
  }
  &__item {
    color: $neutrals-700-color;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.1px;
    display: flex;
    gap: 8px;
    &::before {
      display: block;
      content: '';
      width: 6px;
      min-width: 6px;
      height: 6px;
      min-height: 6px;
      border-radius: 6px;
      margin-top: 12px;
      background-color: $neutrals-700-color;
    }
  }
  &__cta {
    margin-top: auto;
    button {
      width: 100% !important;
      background-color: $red-500-color;
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  user-select: none;
  margin-top: 8px;
  @media (min-width: $bp-lg) {
    display: none;
  }
  &__arrow {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 0;
    font-size: 18px;
    line-height: 1;
    cursor: pointer;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
  }
  &__numbers {
    color: $neutrals-700-color;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.2px;
    min-width: 64px;
    text-align: center;
  }
}
