$primary-font: 'BR Sonoma', sans-serif;
$secondary-font: 'Lato', sans-serif;

$primary-color: #03050f;

$grey-100-color: #03050f;
$grey-80-color: #2b304e;
$grey-60-color: #5e6488;
$grey-30-color: #ccd1ee;
$grey-10-color: #f8f9ff;
$grey-0-color: #ffffff;
$blue-berry-600-color: #4f4fff;
$red-500-color: #ff1c44;
$red-300-color: #f54f6d;
$green-300-color: #389e0d;
$neutrals-700-color: #141938;
$neutrals-600-color: #7981b2;
$neutrals-500-color: #a9afd9;
$neutrals-400-color: #d7dbf5;
$neutrals-200-color: #edeffc;
$neutrals-0-color: #ffffff;
