.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  min-height: 20px;
  background: linear-gradient(90deg, #00f4e2 0%, #00ff7f 100%);
  padding: 0px 8px;
  border-radius: 4px;
  &__text {
    font-size: 12px;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.4px;
    margin-bottom: -2px;
  }
  @media (min-width: $bp-md) {
    min-height: 24px;
    padding: 0px 8px;
    &__text {
      margin-bottom: -1px;
      font-size: 14px;
    }
  }
}
